<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="adr1" class="com.test.Address">
		<property name = "city" value="bengaluru - south urban"></property>
		<property name = "state" value="KA"></property>
		<property name = "country" value="India"></property>
	</bean>
	
	<bean id="adr2" class="com.test.Address">
		<property name = "city" value="bengaluru - rural"></property>
		<property name = "state" value="KA"></property>
		<property name = "country" value="India"></property>
	</bean>
	
	<bean id="adr3" class="com.test.Address">
			<constructor-arg name = "city" value="tirupathi"></constructor-arg>
			<constructor-arg name = "state" value="AP"></constructor-arg>
			<constructor-arg name = "country" value="India"></constructor-arg>
	</bean>
	
	<bean id = "cst1" class="com.test.Customer">
		<constructor-arg name = "id" value="184"></constructor-arg>
		<constructor-arg name = "name" value="virat"></constructor-arg>
		<constructor-arg name = "adr" ref="adr3"></constructor-arg>
	</bean> 
	
	<bean id="cst" class="com.test.Customer">
	<property name="id" value="122"></property>
	<property name="name" value="rohit"></property>
	<property name="adr">
		<list>
			<ref bean="adr1"/>
			<ref bean="adr2"/>
		</list>
	</property>	
	</bean>
	
	
</beans>
